@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {box-sizing: border-box}
body {
    background-color: beige;
    overflow-x: hidden;
}
section {
    height: 20vh;
}
header{
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0%;
    width: 100%;
    
    padding: 20px 100px;
    background-image: linear-gradient(rgb(255, 123, 0), rgba(255, 187, 0, 0.849));
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.logo {
    max-width: 120px;
    border-radius: 60px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 400;
    color: #333;
    background: #fff5d3;
    border-radius: 40px;
    padding: 5px 11px;
}
header ul li a:hover {
    color: #333;
    background: rgba(158, 70, 11, 0.295);
}

.form {
    width: 60%;
    margin: 1vh auto 0 auto;
}
form {
    border:1px solid #ccc;
    background: white;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

.footer {
    
    margin-top: 100px;
    margin-left: -15px;
    margin-bottom: -10px;
    width: 106%;
    padding: 50px 15%;
    background: rgb(133, 133, 133);
    color: white;
    display: flex;
}
.footer div {
    text-align: center;
}
.col2 {
    flex-grow: 2;
}
.col2 li {
    list-style: none;
}
.col2 ul{
    display: inline;
}
.col1 a {
    text-decoration: none;
    color:#333;
}
.col3 a {
    text-decoration: none;
    color:#333;
}
footer h2 {
    width: 100%;
    background: rgb(133, 133, 133);
}